<%- include('../partials/header') %>
<h3>List Of Places</h3>
<div class=index>
<table id="list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Where</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% places.forEach(function(p) { %>
        <tr>
          <td><%= p.name %></td>
          <td><%= p.where %></td>
          <td><a class="link-detail" href="/places/<%= p._id %>">DETAIL</td>
            <td>
                <% if (user && user._id.equals(p.user)) { %>
                <form action="/places/<%= p._id %>?_method=DELETE" method="POST">
                <button class="button-x" type="submit">X</button>
                <% } %>
              </form>
            </td>
        </tr> 
      <% }); %>
    <t/body>
    </table>
</div>
<%- include('../partials/footer') %>
