<%- include('../partials/header') %>

<section id="show-page">
<div class="item">Name: </div>
<div class="description"><%= place.name %></div>
<div class="item">Where:</div>
<div class="description"><%= place.where %></div>
<div class="item">Information About The Place:</div>
<div class="description"><%= place.information %></div>
<div class="item">Restaurants:</div>
<ul class="r-list">
  <%- place.restaurants.map(r =>
    `<li class="rd-list">${r.name}, ${r.rating}</li>`
  ).join('') %>
</ul>
</section>
<form id="add-each-to-restaurants" action="/places/<%= place._id %>/restaurants" method="POST">
    <select name="restaurantId">
        <%- restaurants.map(r =>
        `<option value="${r._id}">${r.name}, ${r.rating}</option>`
        ).join('') %> 
    </select>
    <button type="submit">Add to Restaurants</button>
</form>

<br><br>
<h2>Comments</h2>
<% if (user) { %>
  <form id="add-comment-form" method="POST" action="/places/<%= place._id %>/comments">
    <label>Comment:</label>
    <input name="content">
    <input type="submit" value="Add Comment">
  </form>
<% } %>
<% if (place.comments.length) { %>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <% place.comments.forEach(function(c) { %>
          <tr>
            <td class="comment-user"><img alt="avatar" src="<%= c.userAvatar %>"><%= c.userName %></td>
            <td><%= c.createdAt.toLocaleDateString() %></td>
            <td><%= c.content %></td>
            <td>
              <% if (user && user._id.equals(c.user)) { %>
                <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                  <button type="submit">Delete Comment</button>
                </form>
              <% } %>
              <% if (user && user._id.equals(c.user)) { %>
                <form action="/comments/<%= c._id %>?_method=PUT" method="POST">
                    <input name="content" value="<%= c.content %>">
                    <button type="submit">Update Comment</button>
                  </form>
                  <% } %>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Reviews Yet</h5>
  <% } %>


<%- include('../partials/footer') %>