<%- include('../partials/header') %>

<section id="show-page">
<div class="item">Name: </div>
<div class="description"><%= place.name %></div>
<div class="item">Where:</div>
<div class="description"><%= place.where %></div>
<div class="item">Information About The Place:</div>
<div class="description"><%= place.information %></div>
<div class="item">Restaurants:</div>
<ul class="r-list">
  <%- place.restaurants.map(r =>
    `<li class="rd-list">${r.name}, ${r.rating}</li>`
  ).join('') %>
</ul>
</section>
<% if (user) { %>
<form action="/places/<%= place._id %>/restaurants" method="POST">
    <select id="r-dropdown" name="restaurantId">
        <%- restaurants.map(r =>
        `<option value="${r._id}">${r.name}, ${r.rating}</option>`
        ).join('') %> 
    </select>
    <button id="r-dropdown" type="submit">Add to Restaurants</button>
    <% } %>
</form>

<br><br>
<h2>Comments</h2>
<% if (user) { %>
  <form id="add-comment-form" method="POST" action="/places/<%= place._id %>/comments">
    <input id="c-box"  name="content">
    <input id="c-button" type="submit" value="Add Comment">
  </form>
<% } %>
<% if (place.comments.length) { %>
    <table>
      <thead>
        <tr id="c-bar">
          <th>User</th>
          <th>Date</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <% place.comments.forEach(function(c) { %>
          <tr>
            <td class="c-user"><%= c.userName %></td>
            <td class="c-user"><%= c.createdAt.toLocaleDateString() %></td>
            <td class="c-user"><%= c.content %></td>
            <td class="c-crud">
              <% if (user && user._id.equals(c.user)) { %>
                <form action="/comments/<%= c._id %>?_method=PUT" method="POST">
                  <input id="c-updatedelete" name="content" value="<%= c.content %>">
                  <button class="c-blue" id="c-updatedelete" type="submit">Update Comment</button>
                </form>
                <% } %>
                <% if (user && user._id.equals(c.user)) { %>
                  <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                    <button class="c-red" id="c-updatedelete" type="submit">Delete Comment</button>
                  </form>
                <% } %>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Reviews Yet</h5>
  <% } %>


<%- include('../partials/footer') %>